@charset "UTF-8";
@font-face {
  font-family: "SF UI Text";
  src: url("../fonts/SFUIText-Light.ttf");
  src: local("O"), url("../fonts/SFUIText-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "SF UI Text";
  src: url("../fonts/SFUIText-Regular.ttf");
  src: local("O"), url("../fonts/SFUIText-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SF UI Text";
  src: url("../fonts/SFUIText-Bold.ttf");
  src: local("O"), url("../fonts/SFUIText-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "SF UI Text";
  font-style: normal;
  font-weight: 400;
  color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(9.9%, #213549), color-stop(34.9%, #6399AA), color-stop(68.23%, #79337D), color-stop(93.67%, #140A10)), #FFF;
  background: linear-gradient(180deg, #213549 9.9%, #6399AA 34.9%, #79337D 68.23%, #140A10 93.67%), #FFF;
  background-repeat: no-repeat;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.title {
  font-size: 90px;
  line-height: 124.7%;
  text-transform: uppercase;
  margin-bottom: 50px;
}
@media (max-width: 1920px) {
  .title {
    font-size: calc(32px + 58 * ((100vw - 320px) / 1600));
  }
}
@media (max-width: 1920px) {
  .title {
    margin-bottom: calc(30px + 20 * ((100vw - 320px) / 1600));
  }
}

.text {
  font-size: 53px;
  line-height: 124.7%;
  text-transform: uppercase;
}
@media (max-width: 1920px) {
  .text {
    font-size: calc(16px + 37 * ((100vw - 320px) / 1600));
  }
}

.book__column {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1920px;
  margin: 0px auto;
}

.crime__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.crime__title {
  color: #C3FB50;
  font-size: 94px;
  font-weight: 800;
  line-height: 124.7%; /* 117.613px */
  text-transform: uppercase;
}
.crime__title span {
  font-size: 54px;
  font-weight: 800;
  line-height: 124.7%; /* 67.717px */
  text-transform: uppercase;
}
@media (max-width: 1920px) {
  .crime__title span {
    font-size: calc(15px + 39 * ((100vw - 320px) / 1600));
  }
}
@media (max-width: 1920px) {
  .crime__title {
    font-size: calc(25px + 69 * ((100vw - 320px) / 1600));
  }
}

.crime__text {
  position: absolute;
  top: 120px;
  left: 141px;
  max-width: 1024.59px;
}
@media (max-width: 1920px) {
  .crime__text {
    top: calc(34px + 86 * ((100vw - 320px) / 1600));
    left: calc(15px + 126 * ((100vw - 320px) / 1600));
  }
}

.crime__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 55px;
  position: absolute;
  left: 141px;
  bottom: 71px;
}
@media (max-width: 1920px) {
  .crime__buttons {
    left: calc(25px + 116 * ((100vw - 320px) / 1600));
    bottom: calc(21px + 50 * ((100vw - 320px) / 1600));
    gap: calc(15px + 40 * ((100vw - 320px) / 1600));
  }
}

.crime__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 289px;
  height: 90px;
  border-radius: 181.813px;
  background: #6120F0;
}
.crime__button:hover {
  background: rgba(216, 210, 210, 0.5);
}
.crime__button p {
  color: #FFF;
  font-size: 46px;
  line-height: 124.7%; /* 58.115px */
  text-transform: uppercase;
}
@media (max-width: 1920px) {
  .crime__button p {
    font-size: calc(13px + 33 * ((100vw - 320px) / 1600));
  }
}
@media (max-width: 1920px) {
  .crime__button {
    width: calc(80px + 209 * ((100vw - 320px) / 1600));
    height: calc(25px + 65 * ((100vw - 320px) / 1600));
  }
}

.cards {
  display: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 222px;
}
@media (max-width: 1920px) {
  .cards {
    gap: calc(15px + 207 * ((100vw - 320px) / 1600));
  }
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 889.31px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-bottom-right-radius: 360px;
  border-width: 10px;
  border-style: solid;
  border-color: #FFF;
  background: -webkit-gradient(linear, left top, right top, color-stop(82%, rgb(0, 0, 0)), color-stop(82%, rgb(97, 32, 240)));
  background: linear-gradient(90deg, rgb(0, 0, 0) 82%, rgb(97, 32, 240) 82%);
}
.card:hover {
  border-color: #6BD6D0;
}
@media (max-width: 1920px) {
  .card {
    border-bottom-right-radius: calc(71px + 289 * ((100vw - 320px) / 1600));
    border-width: calc(2px + 8 * ((100vw - 320px) / 1600));
  }
}

.card__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.card__left div:nth-child(2) {
  padding-top: 72px;
  padding-bottom: 0px;
  padding-left: 154px;
}
@media (max-width: 1920px) {
  .card__left div:nth-child(2) {
    padding-top: calc(14px + 58 * ((100vw - 320px) / 1600));
    padding-right: calc(23px + 101 * ((100vw - 320px) / 1600));
    padding-left: calc(32px + 122 * ((100vw - 320px) / 1600));
  }
}

.card__middle-first-text h2 {
  position: absolute;
  left: 750px;
  bottom: 228px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: left;
          transform-origin: left;
  color: #6BD6D0;
  font-size: 95px;
  line-height: 124.7%; /* 119.401px */
  text-transform: lowercase;
}
@media (max-width: 1920px) {
  .card__middle-first-text h2 {
    left: calc(140px + 610 * ((100vw - 320px) / 1600));
    bottom: calc(54px + 174 * ((100vw - 320px) / 1600));
    font-size: calc(18px + 77 * ((100vw - 320px) / 1600));
  }
}

.card__middle-second-text p {
  position: absolute;
  left: 733px;
  bottom: 50px;
  color: #FFF;
  font-size: 50px;
  font-weight: 700;
  line-height: 124.7%;
  text-transform: uppercase;
}
@media (max-width: 1920px) {
  .card__middle-second-text p {
    left: calc(138px + 595 * ((100vw - 320px) / 1600));
    bottom: calc(10px + 40 * ((100vw - 320px) / 1600));
    font-size: calc(10px + 40 * ((100vw - 320px) / 1600));
  }
}

.card__right {
  width: 289px;
  position: relative;
}
@media (max-width: 1920px) {
  .card__right {
    width: calc(250px + 39 * ((100vw - 320px) / 1600));
  }
}
.card__right h2 {
  font-size: 64px;
  font-weight: 600;
  line-height: 124.7%; /* 80.853px */
  text-transform: uppercase;
  color: #FFF;
  position: absolute;
  top: 550px;
  left: 140px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: left;
          transform-origin: left;
}
@media (max-width: 1920px) {
  .card__right h2 {
    top: calc(104px + 446 * ((100vw - 320px) / 1600));
    left: calc(27px + 113 * ((100vw - 320px) / 1600));
    font-size: calc(13px + 51 * ((100vw - 320px) / 1600));
  }
}
.card__right:hover {
  color: #6BD6D0;
}

.form {
  display: none;
  padding-top: 100px;
  padding-left: 228px;
  padding-right: 228px;
  padding-bottom: 100px;
  margin: 0px auto;
}
@media (max-width: 1920px) {
  .form {
    padding-top: calc(30px + 70 * ((100vw - 320px) / 1600));
    padding-left: calc(15px + 213 * ((100vw - 320px) / 1600));
    padding-right: calc(15px + 213 * ((100vw - 320px) / 1600));
    padding-bottom: calc(30px + 70 * ((100vw - 320px) / 1600));
  }
}

.form * {
  outline: none;
}

.form__body {
  position: relative;
}

.form__body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/loading.gif") center/50px no-repeat;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.form__body._sending::after {
  opacity: 1;
  visibility: visible;
}

.form__title {
  font-size: 32px;
  color: #7DF9FF;
  padding-bottom: 30px;
}

.form__item {
  margin-bottom: 20px;
}

.form__label {
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
}

.form__input {
  font-size: 18px;
  height: 50px;
  padding: 15px 20px;
  border-radius: 5px;
  width: 100%;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.form__input:focus {
  -webkit-box-shadow: 0 0 15px #7DF9FF;
          box-shadow: 0 0 15px #7DF9FF;
}

.form__input._error {
  -webkit-box-shadow: 0 0 15px #ff0000;
          box-shadow: 0 0 15px #ff0000;
}

textarea.form__input {
  min-height: 120px;
  resize: vertical;
}

.checkbox a {
  color: #7DF9FF;
}

.checkbox._error .checkbox__label::before {
  -webkit-box-shadow: 0 0 15px #ff0000;
          box-shadow: 0 0 15px #ff0000;
}

.checkbox__input {
  display: none;
}

.checkbox__input:checked + .checkbox__label::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.checkbox__label {
  line-height: 140%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
}

.checkbox__label::before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  height: 24px;
  background-color: #FFF;
  border-radius: 4px;
  margin: 0px 10px 0px 0px;
}

.checkbox__label::after {
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 4px;
  left: 4px;
  background-color: #7c7c7c;
  border-radius: 4px;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.form__button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 60px;
  background-color: #7DF9FF;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 20px;
  -webkit-box-shadow: 0;
          box-shadow: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: background 0.5s ease 0s;
  transition: background 0.5s ease 0s;
}
.form__button:hover {
  background: rgba(224, 220, 220, 0.5);
}

.footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__list-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 79px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 300px;
  margin-left: 110px;
  margin-right: 110px;
  margin-bottom: 128px;
}
@media (max-width: 1920px) {
  .footer__list-bottom {
    margin-left: calc(15px + 95 * ((100vw - 320px) / 1600));
    margin-right: calc(15px + 95 * ((100vw - 320px) / 1600));
    gap: calc(16px + 63 * ((100vw - 320px) / 1600));
    margin-top: calc(100px + 200 * ((100vw - 320px) / 1600));
    margin-bottom: calc(30px + 98 * ((100vw - 320px) / 1600));
  }
}
@media (max-width: 700px) {
  .footer__list-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 1000px) {
  .footer__list-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__list-bottom li:nth-child(3) {
    display: none;
  }
}

.footer__text {
  font-size: 62px;
  line-height: 124.7%;
  font-weight: 300;
}
@media (max-width: 1920px) {
  .footer__text {
    font-size: calc(14px + 48 * ((100vw - 320px) / 1600));
  }
}