@charset "UTF-8";
@font-face {
  font-family: "SF UI Text";
  src: url("../fonts/SFUIText-Light.ttf");
  src: local("O"), url("../fonts/SFUIText-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "SF UI Text";
  src: url("../fonts/SFUIText-Regular.ttf");
  src: local("O"), url("../fonts/SFUIText-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SF UI Text";
  src: url("../fonts/SFUIText-Bold.ttf");
  src: local("O"), url("../fonts/SFUIText-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "SF UI Text";
  font-weight: 400;
  font-style: normal;
  color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

img {
  max-width: 100%;
  height: auto;
}

main {
  background: -webkit-gradient(linear, left top, left bottom, from(#213549), color-stop(27.6%, #6399AA), color-stop(68.23%, #79337D), to(#140A10)), #FFF;
  background: linear-gradient(180deg, #213549 0%, #6399AA 27.6%, #79337D 68.23%, #140A10 100%), #FFF;
  background-repeat: no-repeat;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.buy__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.buy__menu {
  position: absolute;
  text-align: center;
  left: 720px;
  z-index: 20;
}
@media (max-width: 1920px) {
  .buy__menu {
    left: calc(30px + 690 * ((100vw - 320px) / 1600));
  }
}

.buy__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 109px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.buy__list a {
  color: #FFF;
  font-size: 27px;
  line-height: 124.7%; /* 34.242px */
  text-transform: lowercase;
}
@media (max-width: 1920px) {
  .buy__list a {
    font-size: calc(14px + 13 * ((100vw - 320px) / 1600));
  }
}
@media (max-width: 1920px) {
  .buy__list {
    gap: calc(56px + 53 * ((100vw - 320px) / 1600));
    padding-top: calc(25px + 25 * ((100vw - 320px) / 1600));
    padding-bottom: calc(25px + 25 * ((100vw - 320px) / 1600));
  }
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.intro__title {
  position: absolute;
  top: 70px;
  left: 20px;
  font-size: 20px;
  font-weight: 200;
  line-height: 124.7%; /* 36.541px */
  text-transform: uppercase;
}

.intro__subtitle {
  position: absolute;
  top: 218px;
  left: 20px;
  font-size: 14px;
  font-weight: 300;
  line-height: 124.7%; /* 17.458px */
  text-transform: uppercase;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

.cards__card {
  max-width: 240px;
  border-radius: 30px;
  z-index: 1;
}

.cards__left {
  margin-left: 55px;
  margin-right: 15px;
}

.cards__right {
  margin-right: 55px;
  margin-left: 15px;
}

.cards__line {
  position: absolute;
  height: 80px;
  width: 100%;
  background: #050505;
}

.cards__image img {
  border-radius: 10px 10px 0px 0px;
}

.cards__text {
  background-color: #030303;
  border-radius: 0px 0px 10px 10px;
  font-size: 11px;
  font-weight: 300;
  line-height: 124.7%; /* 13.717px */
  letter-spacing: -0.22px;
  text-transform: uppercase;
  padding: 10px;
}

.buy__book {
  text-align: center;
  margin-top: 38px;
}

.footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__list-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 79px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 300px;
  margin-left: 110px;
  margin-right: 110px;
  margin-bottom: 128px;
}
@media (max-width: 1920px) {
  .footer__list-bottom {
    margin-left: calc(15px + 95 * ((100vw - 320px) / 1600));
    margin-right: calc(15px + 95 * ((100vw - 320px) / 1600));
    gap: calc(16px + 63 * ((100vw - 320px) / 1600));
    margin-top: calc(50px + 250 * ((100vw - 320px) / 1600));
    margin-bottom: calc(30px + 98 * ((100vw - 320px) / 1600));
  }
}
@media (max-width: 700px) {
  .footer__list-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 1000px) {
  .footer__list-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__list-bottom li:nth-child(3) {
    display: none;
  }
}

.footer__text {
  font-size: 62px;
  line-height: 124.7%;
  font-weight: 300;
}
@media (max-width: 1920px) {
  .footer__text {
    font-size: calc(14px + 48 * ((100vw - 320px) / 1600));
  }
}