@charset "UTF-8";
@font-face {
  font-family: "SF UI Text";
  src: url("../fonts/SFUIText-Light.ttf");
  src: local("O"), url("../fonts/SFUIText-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "SF UI Text";
  src: url("../fonts/SFUIText-Regular.ttf");
  src: local("O"), url("../fonts/SFUIText-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SF UI Text";
  src: url("../fonts/SFUIText-Bold.ttf");
  src: local("O"), url("../fonts/SFUIText-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "SF UI Text";
  font-weight: 400;
  font-style: normal;
  color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

img {
  width: 766px;
  height: 995px;
}
@media (max-width: 1150px) {
  img {
    height: calc(379px + 616 * ((100vw - 320px) / 830));
    width: auto;
  }
}

main {
  background: -webkit-gradient(linear, left top, left bottom, from(#060407), color-stop(18.75%, #7C485D), color-stop(30.73%, #B2989F), color-stop(54.17%, #213549), color-stop(70.31%, #6399AA), color-stop(82.29%, #79337D), to(#140A10));
  background: linear-gradient(180deg, #060407 0%, #7C485D 18.75%, #B2989F 30.73%, #213549 54.17%, #6399AA 70.31%, #79337D 82.29%, #140A10 100%);
  background-repeat: no-repeat;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.title {
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 124.7%;
}

.listen__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1920px;
  margin: 0px auto;
}
@media (max-width: 1150px) {
  .listen__column {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    overflow: hidden;
  }
}

.listen__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 84px;
  margin-right: 117px;
  margin-left: 117px;
}
@media (max-width: 1920px) {
  .listen__image {
    margin-top: calc(10px + 74 * ((100vw - 320px) / 1600));
    margin-right: calc(10px + 107 * ((100vw - 320px) / 1600));
    margin-left: calc(10px + 107 * ((100vw - 320px) / 1600));
  }
}
@media (max-width: 800px) {
  .listen__image {
    display: none;
  }
}

.listen__background-image img {
  border-radius: 20px;
}

.listen__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 142px;
  margin-bottom: 300px;
}
@media (max-width: 1920px) {
  .listen__cards {
    margin-bottom: calc(30px + 270 * ((100vw - 320px) / 1600));
    gap: calc(24px + 118 * ((100vw - 320px) / 1600));
  }
}

.listen__title {
  display: none;
  text-align: center;
  font-family: Basis Grotesque Pro;
  font-size: 23.944px;
  font-weight: 500;
  line-height: 124.7%; /* 29.858px */
  text-transform: uppercase;
  margin-top: 62px;
  margin-left: 30px;
  margin-right: 30px;
}
@media (max-width: 800px) {
  .listen__title {
    display: block;
  }
}

.listen__subtitle {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  line-height: 124.7%; /* 39.904px */
  text-transform: uppercase;
}

.footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__list-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 79px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 110px;
  margin-right: 110px;
  margin-bottom: 128px;
}
@media (max-width: 1920px) {
  .footer__list-bottom {
    margin-left: calc(15px + 95 * ((100vw - 320px) / 1600));
    margin-right: calc(15px + 95 * ((100vw - 320px) / 1600));
    gap: calc(16px + 63 * ((100vw - 320px) / 1600));
    margin-bottom: calc(30px + 98 * ((100vw - 320px) / 1600));
  }
}
@media (max-width: 700px) {
  .footer__list-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 1000px) {
  .footer__list-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__list-bottom li:nth-child(3) {
    display: none;
  }
}

.footer__link {
  color: #FFF;
  font-size: 32px;
  line-height: 124.7%;
}
.footer__link:hover {
  color: rgba(224, 220, 220, 0.5);
}

.footer__text {
  color: #FFF;
  font-size: 32px;
  line-height: 124.7%;
  font-weight: 300;
}
@media (max-width: 1920px) {
  .footer__text {
    font-size: calc(18px + 14 * ((100vw - 320px) / 1600));
  }
}

.footer__line {
  width: 840px;
  height: 1px;
  background: rgba(217, 217, 217, 0.7);
  margin-bottom: 81px;
}
@media (max-width: 1920px) {
  .footer__line {
    width: calc(253px + 587 * ((100vw - 320px) / 1600));
    margin-bottom: calc(30px + 51 * ((100vw - 320px) / 1600));
  }
}

.audioplayer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  gap: 250px;
  margin-top: 107px;
  margin-bottom: 300px;
}
@media (max-width: 1920px) {
  .audioplayer {
    gap: calc(60px + 190 * ((100vw - 320px) / 1600));
    margin-top: calc(0px + 107 * ((100vw - 320px) / 1600));
    margin-bottom: calc(100px + 200 * ((100vw - 320px) / 1600));
  }
}

.audioplayer__main-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 145px;
  height: 145px;
  border-radius: 50%;
  background-color: #6BD6D0;
  margin-top: 81px;
  margin: 0px auto;
}
.audioplayer__main-page p {
  color: #000;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 124.7%; /* 35.577px */
  text-transform: lowercase;
}
@media (max-width: 1920px) {
  .audioplayer__main-page p {
    font-size: calc(10px + 18 * ((100vw - 320px) / 1600));
  }
}
@media (max-width: 1920px) {
  .audioplayer__main-page {
    width: calc(51px + 94 * ((100vw - 320px) / 1600));
    height: calc(51px + 94 * ((100vw - 320px) / 1600));
    margin-top: calc(15px + 66 * ((100vw - 320px) / 1600));
  }
}

.audio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.audioplayer__first, .audioplayer__second, .audioplayer__third,
.audioplayer__fourth, .audioplayer__fifth, .audioplayer__sixth {
  position: relative;
  height: 1162px;
}
@media (max-width: 1150px) {
  .audioplayer__first, .audioplayer__second, .audioplayer__third,
  .audioplayer__fourth, .audioplayer__fifth, .audioplayer__sixth {
    height: auto;
  }
}

.audioplayer__first, .audioplayer__second, .audioplayer__third,
.audioplayer__fourth, .audioplayer__fifth, .audioplayer__sixth i {
  cursor: pointer;
}

.top-bar, .progress-area .song-timer,
.controls, .music-list .header, .music-list ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.song-details {
  position: absolute;
  bottom: -65px;
  left: -67%;
  text-align: center;
  margin: 30px 0;
}

.song-details .name {
  font-size: 21px;
  color: #ffffff;
}

.player {
  padding-left: 164px;
  padding-right: 0px;
  width: auto;
}
@media (max-width: 1920px) {
  .player {
    padding-left: calc(27px + 137 * ((100vw - 320px) / 1600));
  }
}
@media (max-width: 1150px) {
  .player {
    padding-right: calc(27px + 137 * ((100vw - 320px) / 1600));
  }
}

.player__title {
  position: absolute;
  left: 100px;
  top: 570px;
  color: #6BD6D0;
  font-size: 58px;
  font-weight: 400;
  line-height: 124.7%; /* 27.434px */
  text-transform: lowercase;
}
@media (max-width: 1920px) {
  .player__title {
    font-size: calc(20px + 38 * ((100vw - 320px) / 1600));
  }
}
@media (max-width: 1150px) {
  .player__title {
    left: calc(130px + -30 * ((100vw - 320px) / 830));
    top: calc(200px + 370 * ((100vw - 320px) / 830));
  }
}

.player__subtitle {
  position: absolute;
  left: 100px;
  top: 670px;
  color: #FFF;
  font-size: 58px;
  font-weight: 700;
  line-height: 124.7%; /* 27.434px */
  text-transform: uppercase;
}
@media (max-width: 1920px) {
  .player__subtitle {
    font-size: calc(15px + 43 * ((100vw - 320px) / 1600));
  }
}
@media (max-width: 1150px) {
  .player__subtitle {
    left: calc(130px + -30 * ((100vw - 320px) / 830));
    top: calc(250px + 420 * ((100vw - 320px) / 830));
  }
}

.controls .play-pause {
  position: absolute;
  left: 70px;
  bottom: -738px;
  height: 169px;
  width: 169px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background: #6BD6D0;
}
@media (max-width: 1920px) {
  .controls .play-pause {
    height: calc(63px + 106 * ((100vw - 320px) / 1600));
    width: calc(63px + 106 * ((100vw - 320px) / 1600));
    bottom: calc(-715px + -23 * ((100vw - 1151px) / 769));
  }
}
@media (max-width: 1150px) {
  .controls .play-pause {
    left: calc(95px + -25 * ((100vw - 320px) / 830));
    bottom: calc(-68px + -670 * ((100vw - 320px) / 830));
  }
}

.progress-area {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 6px;
  width: 766px;
  border-radius: 50px;
  background: #f0f0f0;
  cursor: pointer;
}
@media (max-width: 1920px) {
  .progress-area {
    height: calc(3px + 3 * ((100vw - 320px) / 1600));
  }
}
@media (max-width: 1150px) {
  .progress-area {
    width: calc(100px + 666 * ((100vw - 320px) / 830));
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    -webkit-transform-origin: left bottom;
            transform-origin: left bottom;
    left: calc(339px + 561 * ((100vw - 320px) / 830));
    width: calc(379px + 616 * ((100vw - 320px) / 830));
  }
}

.player__image {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #000;
  border-radius: 0px 0px 250px 0px;
}

.player__image img {
  border-radius: 0px 0px 80px 0px;
}

.progress-area .progress-bar {
  height: inherit;
  width: 0%;
  position: relative;
  border-radius: inherit;
  background: #6BD6D0;
}

.progress-bar::before {
  content: "";
  position: absolute;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  top: 50%;
  right: -5px;
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: inherit;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.progress-area:hover .progress-bar::before {
  opacity: 1;
  pointer-events: auto;
}

.progress-area .song-timer {
  margin-top: 2px;
}

.song-timer span {
  margin-top: 15px;
  font-size: 32px;
  color: #ffffff;
}
@media (max-width: 1150px) {
  .song-timer span {
    display: none;
  }
}

.controls {
  position: absolute;
  top: 342px;
  left: 35px;
}

.controls i {
  font-size: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1920px) {
  .controls i {
    font-size: calc(45px + 55 * ((100vw - 320px) / 1600));
  }
}

.play-pause i {
  height: 43px;
  width: 43px;
  line-height: 43px;
  text-align: center;
  color: #ffffff;
}

.music-list ul {
  width: 550px;
}
@media (max-width: 1920px) {
  .music-list ul {
    width: calc(200px + 350 * ((100vw - 1001px) / 919));
  }
}
@media (max-width: 1400px) {
  .music-list ul {
    width: auto;
  }
}
.music-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.audioplayer__sixth .music-list ul li {
  margin-bottom: 90px;
}
@media (max-width: 1150px) {
  .audioplayer__sixth .music-list ul li {
    margin-bottom: calc(30px + 60 * ((100vw - 320px) / 830));
  }
}

.music-list ul li {
  cursor: pointer;
  margin-bottom: 117px;
  color: #ffffff;
}
@media (max-width: 1150px) {
  .music-list ul li {
    margin-bottom: calc(30px + 87 * ((100vw - 320px) / 830));
  }
}

.music-list ul li:last-child {
  margin-bottom: 0px;
}

.music-list ul li .row span {
  font-size: 53px;
  font-weight: 400;
  line-height: 124.7%; /* 65.218px */
  text-transform: lowercase;
  white-space: nowrap;
}
@media (max-width: 1920px) {
  .music-list ul li .row span {
    font-size: calc(13px + 40 * ((100vw - 320px) / 1600));
  }
}

.music-list ul li .row p {
  opacity: 0.9;
}

ul li .audio-duration {
  font-size: 43px;
  font-weight: 400;
  line-height: 124.7%; /* 53.36px */
  text-transform: lowercase;
}
@media (max-width: 1400px) {
  ul li .audio-duration {
    display: none;
  }
}

ul li.playing {
  pointer-events: none;
  color: #6BD6D0;
}