@charset "UTF-8";
@font-face {
  font-family: "DaMiOne";
  src: url("../fonts/DaMiOne-Regular.ttf");
  src: local("O"), url("../fonts/DaMiOne-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SF UI Display";
  src: url("../fonts/SFUIDisplay-Ultralight.ttf");
  src: local("O"), url("../fonts/SFUIDisplay-Ultralight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "SF UI Display";
  src: url("../fonts/SFUIDisplay-Light.ttf");
  src: local("O"), url("../fonts/SFUIDisplay-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "SF UI Display";
  src: url("../fonts/SFUIDisplay-Regular.ttf");
  src: local("O"), url("../fonts/SFUIDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SF UI Display";
  src: url("../fonts/SFUIDisplay-Medium.ttf");
  src: local("O"), url("../fonts/SFUIDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "SF UI Text";
  src: url("../fonts/SFUIText-Light.ttf");
  src: local("O"), url("../fonts/SFUIText-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "SF UI Text";
  src: url("../fonts/SFUIText-Regular.ttf");
  src: local("O"), url("../fonts/SFUIText-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SF UI Text";
  src: url("../fonts/SFUIText-Bold.ttf");
  src: local("O"), url("../fonts/SFUIText-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "SF UI Text";
  font-weight: 400;
  font-style: normal;
  color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

img {
  max-width: 100%;
  height: auto;
}

main {
  background: -webkit-gradient(linear, left top, left bottom, from(#213549), color-stop(27.6%, #6399AA), color-stop(68.23%, #79337D), to(#140A10)), #FFF;
  background: linear-gradient(180deg, #213549 0%, #6399AA 27.6%, #79337D 68.23%, #140A10 100%), #FFF;
  background-repeat: no-repeat;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.buy__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.buy__menu {
  position: absolute;
  left: 520px;
  z-index: 20;
}
@media (max-width: 1920px) {
  .buy__menu {
    left: calc(30px + 490 * ((100vw - 320px) / 1600));
  }
}

.buy__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 191px;
  padding-top: 40px;
  padding-bottom: 50px;
}
.buy__list a {
  color: #FFF;
  font-size: 49px;
  line-height: 124.7%; /* 34.242px */
  text-transform: lowercase;
}
@media (max-width: 1920px) {
  .buy__list a {
    font-size: calc(14px + 35 * ((100vw - 320px) / 1600));
  }
}
@media (max-width: 1920px) {
  .buy__list {
    gap: calc(54px + 137 * ((100vw - 320px) / 1600));
    padding-top: calc(25px + 15 * ((100vw - 320px) / 1600));
    padding-bottom: calc(25px + 25 * ((100vw - 320px) / 1600));
  }
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background: #050505;
}

.intro__image {
  margin-left: 160px;
  margin-right: 120px;
  margin-top: 45px;
}
@media (max-width: 1920px) {
  .intro__image {
    margin-left: calc(0px + 160 * ((100vw - 320px) / 1600));
    margin-top: calc(0px + 45 * ((100vw - 320px) / 1600));
  }
}
@media (max-width: 1316px) {
  .intro__image {
    margin-right: calc(30px + 90 * ((100vw - 320px) / 980));
  }
}

.intro__title {
  position: absolute;
  top: 250px;
  left: 865px;
  font-family: "SF UI Display";
  font-size: 103px;
  font-weight: 200;
  line-height: 124.7%; /* 36.541px */
  text-transform: uppercase;
}
@media (max-width: 1920px) {
  .intro__title {
    font-size: calc(29px + 74 * ((100vw - 320px) / 1600));
    top: calc(67px + 183 * ((100vw - 320px) / 1600));
    left: calc(20px + 845 * ((100vw - 320px) / 1600));
  }
}

.intro__subtitle {
  position: absolute;
  bottom: 50px;
  left: 868px;
  font-family: "SF UI Display";
  font-size: 49px;
  font-weight: 300;
  line-height: 124.7%; /* 17.458px */
  text-transform: uppercase;
}
@media (max-width: 1920px) {
  .intro__subtitle {
    font-size: calc(14px + 35 * ((100vw - 320px) / 1600));
    bottom: calc(30px + 20 * ((100vw - 320px) / 1600));
    left: calc(20px + 848 * ((100vw - 320px) / 1600));
  }
}

.intro__text {
  text-align: center;
  font-family: "SF UI Display";
  font-size: 38px;
  font-weight: 400;
  line-height: 124.7%; /* 47.386px */
  letter-spacing: -0.76px;
  text-transform: uppercase;
  background: #050505;
  padding-top: 138px;
  padding-right: 0px;
  padding-bottom: 37px;
  padding-left: 160px;
  padding-right: 160px;
}
@media (max-width: 1920px) {
  .intro__text {
    font-size: calc(14px + 24 * ((100vw - 320px) / 1600));
    padding-top: calc(15px + 123 * ((100vw - 320px) / 1600));
    padding-bottom: calc(15px + 22 * ((100vw - 320px) / 1600));
    padding-left: calc(15px + 145 * ((100vw - 320px) / 1600));
    padding-right: calc(15px + 145 * ((100vw - 320px) / 1600));
  }
}

.desktop-cards__first-row {
  text-align: center;
}

.desktop-cards__second-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 98px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 0px;
  padding-right: 35px;
  padding-bottom: 0px;
  padding-left: 35px;
}
@media (max-width: 1000px) {
  .desktop-cards__second-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 0px;
    padding-left: 0px;
  }
}
.desktop-cards__second-row img {
  border-radius: 7px;
  background: #200D23;
  -webkit-box-shadow: 0px 24px 53px 0px rgba(0, 0, 0, 0.49), 0px 97px 97px 0px rgba(0, 0, 0, 0.42), 0px 218px 131px 0px rgba(0, 0, 0, 0.25), 0px 387px 155px 0px rgba(0, 0, 0, 0.07), 0px 604px 169px 0px rgba(0, 0, 0, 0.01);
          box-shadow: 0px 24px 53px 0px rgba(0, 0, 0, 0.49), 0px 97px 97px 0px rgba(0, 0, 0, 0.42), 0px 218px 131px 0px rgba(0, 0, 0, 0.25), 0px 387px 155px 0px rgba(0, 0, 0, 0.07), 0px 604px 169px 0px rgba(0, 0, 0, 0.01);
}
@media (max-width: 1920px) {
  .desktop-cards__second-row {
    gap: calc(50px + 48 * ((100vw - 320px) / 1600));
  }
}

.order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 94px;
  border-radius: 7px;
  background: #200D23;
  margin-top: 216px;
  margin-right: 35px;
  margin-bottom: 0px;
  margin-left: 35px;
}
@media (max-width: 1000px) {
  .order {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 0px;
    margin-left: 0px;
  }
}
@media (max-width: 1920px) {
  .order {
    margin-top: calc(81px + 135 * ((100vw - 320px) / 1600));
    gap: calc(50px + 44 * ((100vw - 320px) / 1600));
  }
}

.order__left {
  margin-left: 137px;
  margin-top: 30px;
  margin-bottom: 118px;
}
@media (max-width: 1000px) {
  .order__left {
    text-align: center;
  }
}
@media (max-width: 1920px) {
  .order__left {
    margin-left: calc(0px + 137 * ((100vw - 1000px) / 920));
    margin-top: calc(0px + 30 * ((100vw - 1001px) / 919));
    margin-bottom: calc(0px + 118 * ((100vw - 1001px) / 919));
  }
}

.order__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.order__text p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-family: SF UI Display;
  font-size: 27px;
  font-weight: 500;
  line-height: 124.7%; /* 33.669px */
  letter-spacing: -0.54px;
  text-transform: uppercase;
  width: 851px;
  padding-top: 494px;
}
@media (max-width: 1920px) {
  .order__text p {
    font-size: calc(11px + 16 * ((100vw - 320px) / 1600));
    width: calc(279px + 572 * ((100vw - 320px) / 1600));
  }
}
@media (max-width: 1000px) {
  .order__text p {
    padding-top: 0px;
  }
}

.order__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: SF UI Display;
  font-size: 42px;
  font-weight: 500;
  line-height: 124.7%; /* 53.322px */
  letter-spacing: -0.855px;
  text-transform: uppercase;
  border-radius: 18px;
  border-width: 3px;
  border-style: solid;
  border-color: #FFF;
  width: 561px;
  height: 155px;
  margin-top: 306px;
  margin-bottom: 111px;
}
@media (max-width: 1920px) {
  .order__button {
    font-size: calc(11px + 31 * ((100vw - 320px) / 1600));
    width: calc(135px + 426 * ((100vw - 320px) / 1600));
    height: calc(37px + 118 * ((100vw - 320px) / 1600));
    margin-top: calc(10px + 296 * ((100vw - 320px) / 1600));
    border-radius: calc(2.5px + 15.5 * ((100vw - 320px) / 1600));
    border-width: calc(0.723px + 2.277 * ((100vw - 320px) / 1600));
    margin-bottom: calc(18px + 93 * ((100vw - 320px) / 1600));
  }
}

.premium {
  display: none;
  gap: 346px;
  border-radius: 7px;
  background: #000;
  margin-top: 216px;
}

.premium__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 337px;
  margin-left: 160px;
}

.premium__title {
  font-family: DaMiOne;
  font-size: 106px;
  font-weight: 400;
  line-height: 50px; /* 132.401px */
  letter-spacing: -2.124px;
  text-transform: uppercase;
  margin-top: 307px;
}

.premium__subtitle {
  font-family: DaMiOne;
  font-size: 40px;
  font-weight: 400;
  line-height: 124.7%; /* 49.88px */
  letter-spacing: -0.8px;
  text-transform: uppercase;
  margin-bottom: 257px;
}

.premium__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 157px;
}

.premium__more p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFF;
  text-align: center;
  font-family: DaMiOne;
  font-size: 28.291px;
  font-style: normal;
  font-weight: 400;
  line-height: 124.7%; /* 35.278px */
  letter-spacing: -0.566px;
  text-transform: uppercase;
  border-radius: 11.909px;
  border: 1.985px solid #FFF;
  width: 371.484px;
  height: 103.191px;
}

.buy__book {
  text-align: center;
  margin-top: 38px;
  display: none;
}

.footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__list-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 79px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 315px;
  margin-left: 110px;
  margin-right: 110px;
  margin-bottom: 128px;
}
@media (max-width: 1920px) {
  .footer__list-bottom {
    margin-left: calc(15px + 95 * ((100vw - 320px) / 1600));
    margin-right: calc(15px + 95 * ((100vw - 320px) / 1600));
    gap: calc(16px + 63 * ((100vw - 320px) / 1600));
    margin-top: calc(128px + 187 * ((100vw - 320px) / 1600));
    margin-bottom: calc(30px + 98 * ((100vw - 320px) / 1600));
  }
}
@media (max-width: 700px) {
  .footer__list-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 1000px) {
  .footer__list-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__list-bottom li:nth-child(3) {
    display: none;
  }
}

.footer__text {
  font-size: 62px;
  line-height: 124.7%;
  font-weight: 300;
}
@media (max-width: 1920px) {
  .footer__text {
    font-size: calc(14px + 48 * ((100vw - 320px) / 1600));
  }
}