@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.title {
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 124.7%;
}

.listen__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1920px;
  margin: 0px auto;
  background: -webkit-gradient(linear, left top, left bottom, from(#060407), color-stop(18.75%, #7C485D), color-stop(30.73%, #B2989F), color-stop(54.17%, #213549), color-stop(70.31%, #6399AA), color-stop(82.29%, #79337D), to(#140A10));
  background: linear-gradient(180deg, #060407 0%, #7C485D 18.75%, #B2989F 30.73%, #213549 54.17%, #6399AA 70.31%, #79337D 82.29%, #140A10 100%);
  background-repeat: no-repeat;
}

.listen__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 84px;
  margin-right: 117px;
  margin-left: 117px;
}
@media (max-width: 1920px) {
  .listen__image {
    margin-top: calc(10px + 74 * ((100vw - 320px) / 1600));
    margin-right: calc(10px + 107 * ((100vw - 320px) / 1600));
    margin-left: calc(10px + 107 * ((100vw - 320px) / 1600));
  }
}
@media (max-width: 800px) {
  .listen__image {
    display: none;
  }
}

.listen__background-image img {
  border-radius: 20px;
}

.listen__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 142px;
  margin-bottom: 300px;
}
@media (max-width: 1920px) {
  .listen__cards {
    margin-bottom: calc(30px + 270 * ((100vw - 320px) / 1600));
    gap: calc(24px + 118 * ((100vw - 320px) / 1600));
  }
}

.listen__title {
  display: none;
  text-align: center;
  font-family: Basis Grotesque Pro;
  font-size: 23.944px;
  font-weight: 500;
  line-height: 124.7%; /* 29.858px */
  text-transform: uppercase;
  margin-top: 62px;
  margin-left: 30px;
  margin-right: 30px;
}
@media (max-width: 800px) {
  .listen__title {
    display: block;
  }
}

.listen__subtitle {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  line-height: 124.7%; /* 39.904px */
  text-transform: uppercase;
}

.footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__list-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 79px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 110px;
  margin-right: 110px;
  margin-bottom: 128px;
}
@media (max-width: 1920px) {
  .footer__list-bottom {
    margin-left: calc(15px + 95 * ((100vw - 320px) / 1600));
    margin-right: calc(15px + 95 * ((100vw - 320px) / 1600));
    gap: calc(16px + 63 * ((100vw - 320px) / 1600));
    margin-bottom: calc(30px + 98 * ((100vw - 320px) / 1600));
  }
}
@media (max-width: 700px) {
  .footer__list-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 1000px) {
  .footer__list-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__list-bottom li:nth-child(3) {
    display: none;
  }
}

.footer__link {
  color: #FFF;
  font-size: 32px;
  line-height: 124.7%;
}
.footer__link:hover {
  color: rgba(224, 220, 220, 0.5);
}

.footer__text {
  color: #FFF;
  font-size: 32px;
  line-height: 124.7%;
  font-weight: 300;
}

.footer__line {
  width: 840px;
  height: 1px;
  background: rgba(217, 217, 217, 0.7);
  margin-bottom: 81px;
}
@media (max-width: 1920px) {
  .footer__line {
    width: calc(253px + 587 * ((100vw - 320px) / 1600));
    margin-bottom: calc(30px + 51 * ((100vw - 320px) / 1600));
  }
}

.audioplayer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 200px;
  margin-top: 100px;
  margin-bottom: 300px;
}
@media (max-width: 642px) {
  .audioplayer {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    overflow: hidden;
  }
}

.audioplayer__main-page {
  width: 145.003px;
  height: 145.003px;
  border-radius: 50%;
  background-color: #6BD6D0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 81px;
}
.audioplayer__main-page p {
  color: #000;
  font-size: 28.53px;
  font-style: normal;
  font-weight: 500;
  line-height: 124.7%; /* 35.577px */
  text-transform: lowercase;
}

.audio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.audioplayer__first, .audioplayer__second, .audioplayer__third,
.audioplayer__fourth, .audioplayer__fifth, .audioplayer__sixth {
  width: 640px;
  position: relative;
}

.audioplayer__first, .audioplayer__second, .audioplayer__third,
.audioplayer__fourth, .audioplayer__fifth, .audioplayer__sixth i {
  cursor: pointer;
}

.top-bar, .progress-area .song-timer,
.controls, .music-list .header, .music-list ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.song-details {
  position: absolute;
  bottom: -65px;
  left: -67%;
  text-align: center;
  margin: 30px 0;
}

.song-details .name {
  font-size: 21px;
  color: #ffffff;
}

.player {
  position: relative;
  padding-left: 70px;
  width: 460px;
}

.player__title {
  position: absolute;
  left: 35px;
  top: 294px;
  color: #6BD6D0;
  font-size: 22px;
  font-weight: 400;
  line-height: 124.7%; /* 27.434px */
  text-transform: lowercase;
}

.player__subtitle {
  position: absolute;
  left: 35px;
  top: 328px;
  color: #FFF;
  font-size: 22px;
  font-weight: 700;
  line-height: 124.7%; /* 27.434px */
  text-transform: uppercase;
}

.player__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  background: #000;
  border-radius: 0px 0px 80px 0px;
}

.player__image img {
  border-radius: 0px 0px 80px 0px;
}

.progress-area {
  position: absolute;
  bottom: -60px;
  left: -377.7px;
  height: 6px;
  width: 377.7px;
  border-radius: 50px;
  background: #f0f0f0;
  cursor: pointer;
}

.progress-area .progress-bar {
  height: inherit;
  width: 0%;
  position: relative;
  border-radius: inherit;
  background: #6BD6D0;
}

.progress-bar::before {
  content: "";
  position: absolute;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  top: 50%;
  right: -5px;
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: inherit;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.progress-area:hover .progress-bar::before {
  opacity: 1;
  pointer-events: auto;
}

.progress-area .song-timer {
  margin-top: 2px;
}

.song-timer span {
  margin-top: 5px;
  font-size: 13px;
  color: #ffffff;
}

.controls {
  position: absolute;
  top: 342px;
  left: 35px;
}

.controls i {
  font-size: 28px;
}

.controls i:nth-child(2),
.controls i:nth-child(4) {
  font-size: 43px;
}

.controls #prev {
  margin-right: -13px;
}

.controls #next {
  margin-left: -13px;
}

.controls .play-pause {
  height: 54px;
  width: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background: #6BD6D0;
  position: absolute;
  left: -380px;
  bottom: -175px;
}

.audioplayer__third .play-pause, .audioplayer__fifth .play-pause {
  bottom: -140px;
}

.play-pause i {
  height: 43px;
  width: 43px;
  line-height: 43px;
  text-align: center;
  color: #ffffff;
}

.music-list {
  margin-top: 20px;
  pointer-events: auto;
}

.music-list ul li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  margin-bottom: 40px;
  color: #ffffff;
}

.music-list ul li .row span {
  font-size: 17px;
}

.music-list ul li .row p {
  opacity: 0.9;
}

ul li .audio-duration {
  font-size: 16px;
}

ul li.playing {
  pointer-events: none;
  color: #6BD6D0;
}