@mixin adaptive-value($property, $startSize ,$minSize, $maxWidth, $minWidth) {
    $addSize: $startSize - $minSize;
    $addWidth: $maxWidth - $minWidth;
    #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - #{$minWidth + px}) / #{$addWidth}));
}
//Шрифт
@font-face {
    font-family: 'DaMiOne';
    src: url("../fonts/DaMiOne-Regular.ttf");
    src: local("O"), url("../fonts/DaMiOne-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src: url("../fonts/SFUIDisplay-Ultralight.ttf");
    src: local("O"), url("../fonts/SFUIDisplay-Ultralight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src: url("../fonts/SFUIDisplay-Light.ttf");
    src: local("O"), url("../fonts/SFUIDisplay-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src: url("../fonts/SFUIDisplay-Regular.ttf");
    src: local("O"), url("../fonts/SFUIDisplay-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src: url("../fonts/SFUIDisplay-Medium.ttf");
    src: local("O"), url("../fonts/SFUIDisplay-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Text';
    src: url("../fonts/SFUIText-Light.ttf");
    src: local("O"), url("../fonts/SFUIText-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
	font-family: 'SF UI Text';
	src: url("../fonts/SFUIText-Regular.ttf");
	src: local("O"), url("../fonts/SFUIText-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'SF UI Text';
	src: url("../fonts/SFUIText-Bold.ttf");
	src: local("O"), url("../fonts/SFUIText-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

// Файл обнуляющих стилей
@import "nullstyle.scss";

html {
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}

body{
    font-family: 'SF UI Text';
    font-weight: 400;
    font-style: normal;
    color: #FFF;
    display: flex;
    flex-direction: column;
}

img{
    max-width: 100%;
    height: auto;
}

main {
    background: linear-gradient(180deg, #213549 0%, #6399AA 27.6%, #79337D 68.23%, #140A10 100%), #FFF;
    background-repeat: no-repeat;
}

.wrapper {
    display: flex;
    flex-direction: column;
}



//Section buy start
.buy__column {
    display: flex;
    flex-direction: column;
    position: relative;
    
}

.buy__menu {
    position: absolute;
    left: 520px;
    z-index: 20;
    @media (max-width: 1920px) {
        @include adaptive-value( left , 520 , 30 , 1920 , 320 );
    }
}

.buy__list {
    display: flex;
    justify-content: center;
    gap: 191px;
    padding-top: 40px;
    padding-bottom: 50px;
    a {
        color: #FFF;
        font-size: 49px;
        line-height: 124.7%; /* 34.242px */
        text-transform: lowercase;
        @media (max-width: 1920px) {
            @include adaptive-value( font-size , 49 , 14 , 1920 , 320 );
        }
    }
    @media (max-width: 1920px) {
        @include adaptive-value( gap , 191 , 54 , 1920 , 320 );
        @include adaptive-value( padding-top , 40 , 25 , 1920 , 320 );
        @include adaptive-value( padding-bottom , 50 , 25 , 1920 , 320 );
    }
}
//Section buy end


//Section intro start
.intro {
    display: flex;
    
    position: relative;
    background: #050505;
}

.intro__image {
    margin-left: 160px;
    margin-right: 120px;
    margin-top: 45px;
    @media (max-width: 1920px) {
        @include adaptive-value( margin-left , 160 , 0 , 1920 , 320 );
        @include adaptive-value( margin-top , 45 , 0 , 1920 , 320 );
    }
    @media (max-width: 1316px) {
        @include adaptive-value( margin-right , 120 , 30 , 1300 , 320 );
    }
}

.intro__title {
    position: absolute;
    top: 250px;
    left: 865px;
    font-family: 'SF UI Display';
    font-size: 103px;
    font-weight: 200;
    line-height: 124.7%; /* 36.541px */
    text-transform: uppercase;
    @media (max-width: 1920px) {
        @include adaptive-value( font-size , 103 , 29 , 1920 , 320 );
        @include adaptive-value( top , 250 , 67 , 1920 , 320 );
        @include adaptive-value( left , 865 , 20 , 1920 , 320 );
    }
}
.intro__subtitle {
    position: absolute;
    bottom: 50px;
    left: 868px;
    font-family: 'SF UI Display';
    font-size: 49px;
    font-weight: 300;
    line-height: 124.7%; /* 17.458px */
    text-transform: uppercase;
    @media (max-width: 1920px) {
        @include adaptive-value( font-size , 49 , 14 , 1920 , 320 );
        @include adaptive-value( bottom , 50 , 30 , 1920 , 320 );
        @include adaptive-value( left , 868 , 20 , 1920 , 320 );
    }
}

.intro__text {
    text-align: center;
    font-family: 'SF UI Display';
    font-size: 38px;
    font-weight: 400;
    line-height: 124.7%; /* 47.386px */
    letter-spacing: -0.76px;
    text-transform: uppercase;
    background: #050505;
    padding-top: 138px;
    padding-right: 0px;
    padding-bottom: 37px;
    padding-left: 160px;
    padding-right: 160px;
    @media (max-width: 1920px) {
        @include adaptive-value( font-size , 38 , 14 , 1920 , 320 );
        @include adaptive-value( padding-top , 138 , 15 , 1920 , 320 );
        @include adaptive-value( padding-bottom , 37 , 15 , 1920 , 320 );
        @include adaptive-value( padding-left , 160 , 15 , 1920 , 320 );
        @include adaptive-value( padding-right , 160 , 15 , 1920 , 320 );
    }
}
//Section intro end

//Section desktop-cards start
.desktop-cards__first-row {
    text-align: center;
}
.desktop-cards__second-row {
    display: flex;
    flex-direction: row;
    gap: 98px;
    justify-content: center;
    padding-top: 0px;
    padding-right: 35px;
    padding-bottom: 0px;
    padding-left: 35px;
    @media (max-width: 1000px) {
        flex-direction: column;
        align-items: center;
        padding-right: 0px;
        padding-left: 0px;
    }
    img {
        border-radius: 7px;
        background: #200D23;
        box-shadow: 0px 24px 53px 0px rgba(0, 0, 0, 0.49), 0px 97px 97px 0px rgba(0, 0, 0, 0.42), 0px 218px 131px 0px rgba(0, 0, 0, 0.25), 0px 387px 155px 0px rgba(0, 0, 0, 0.07), 0px 604px 169px 0px rgba(0, 0, 0, 0.01);
    }
    @media (max-width: 1920px) {
        @include adaptive-value( gap , 98 , 50 , 1920 , 320 );
    }
}

//Section desktop-cards end

//Section order start
.order {
    display: flex;
    justify-content: space-between;
    gap: 94px;
    border-radius: 7px;
    background: #200D23;
    margin-top: 216px;
    margin-right: 35px;
    margin-bottom: 0px;
    margin-left: 35px;
    @media (max-width: 1000px) {
        flex-direction: column;
        margin-right: 0px;
        margin-left: 0px;
    }
    @media (max-width: 1920px) {
        @include adaptive-value( margin-top , 216 , 81 , 1920 , 320 );
        @include adaptive-value( gap , 94 , 50 , 1920 , 320 );
    }
}

.order__left {
    margin-left: 137px;
    margin-top: 30px;
    margin-bottom: 118px;
    @media (max-width: 1000px) {
        text-align: center;
    }
    @media (max-width: 1920px) {
        @include adaptive-value( margin-left , 137 , 0 , 1920 , 1000 );
        @include adaptive-value( margin-top , 30 , 0 , 1920 , 1001 );
        @include adaptive-value( margin-bottom , 118 , 0 , 1920 , 1001 );
    }
}

.order__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; 
}
.order__text {
    p {
        display: flex;
        align-items: center;
        text-align: center;
        font-family: SF UI Display;
        font-size: 27px;
        font-weight: 500;
        line-height: 124.7%; /* 33.669px */
        letter-spacing: -0.54px;
        text-transform: uppercase;
        width: 851px;
        padding-top: 494px;
        @media (max-width: 1920px) {
            @include adaptive-value( font-size , 27 , 11 , 1920 , 320 );
            @include adaptive-value( width , 851 , 279 , 1920 , 320 );
        }
        @media (max-width: 1000px) {
            padding-top: 0px;
        }
    }
}
.order__button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: SF UI Display;
    font-size: 42px;
    font-weight: 500;
    line-height: 124.7%; /* 53.322px */
    letter-spacing: -0.855px;
    text-transform: uppercase;
    border-radius: 18px;
    border-width: 3px;
    border-style: solid;
    border-color: #FFF;
    width: 561px;
    height: 155px;
    margin-top: 306px;
    margin-bottom: 111px;
    @media (max-width: 1920px) {
        @include adaptive-value( font-size , 42 , 11 , 1920 , 320 );
        @include adaptive-value( width , 561 , 135 , 1920 , 320 );
        @include adaptive-value( height , 155 , 37 , 1920 , 320 );
        @include adaptive-value( margin-top , 306 , 10 , 1920 , 320 );
        @include adaptive-value( border-radius , 18 , 2.5 , 1920 , 320 );
        @include adaptive-value( border-width , 3 , 0.723 , 1920 , 320 );
        @include adaptive-value( margin-bottom , 111 , 18 , 1920 , 320 );
    }
}   

//Section order end


//Section premium start
.premium {
    display: none;
    gap: 346px;
    border-radius: 7px;
    background: #000;
    margin-top: 216px;
}
.premium__left{
    display: flex;
    flex-direction: column;
    gap: 337px;
    margin-left: 160px;
}

.premium__title {
    font-family: DaMiOne;
    font-size: 106px;
    font-weight: 400;
    line-height: 50px; /* 132.401px */
    letter-spacing: -2.124px;
    text-transform: uppercase;
    margin-top: 307px;
}
.premium__subtitle {
    font-family: DaMiOne;
    font-size: 40px;
    font-weight: 400;
    line-height: 124.7%; /* 49.88px */
    letter-spacing: -0.8px;
    text-transform: uppercase;
    margin-bottom: 257px;
}
.premium__right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 157px;
}
.premium__more {
    p {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFF;
        text-align: center;
        font-family: DaMiOne;
        font-size: 28.291px;
        font-style: normal;
        font-weight: 400;
        line-height: 124.7%; /* 35.278px */
        letter-spacing: -0.566px;
        text-transform: uppercase;
        border-radius: 11.909px;
        border: 1.985px solid #FFF;
        width: 371.484px;
        height: 103.191px;
    }
}
//Section premium end

.buy__book {
    text-align: center;
    margin-top: 38px;
    display: none;
}



//Section footer start
.footer__column {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.footer__list-bottom {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 79px;
    flex-wrap: wrap;
    margin-top: 315px;
    margin-left: 110px;
    margin-right: 110px;
    margin-bottom: 128px;
    @media (max-width: 1920px) {
        @include adaptive-value( margin-left , 110 , 15 , 1920 , 320 );
        @include adaptive-value( margin-right , 110 , 15 , 1920 , 320 );
        @include adaptive-value( gap ,79  , 16 ,1920  ,320  );
        @include adaptive-value( margin-top , 315 , 128 , 1920 , 320 );
        @include adaptive-value( margin-bottom , 128 , 30 , 1920 , 320 );
    }
    @media (max-width: 700px) {
        flex-direction: column;
        align-items: center;
    }
    @media (max-width: 1000px) {
        flex-direction: column;
        align-items: center;
        li:nth-child(3) {
            display: none;
        }
        
    }
}

.footer__text {
    font-size: 62px;
    line-height: 124.7%;
    font-weight: 300;
    @media (max-width: 1920px) {
        @include adaptive-value( font-size , 62 , 14 , 1920 , 320 );
    }
}
//Section footer end