@mixin adaptive-value($property, $startSize ,$minSize, $maxWidth, $minWidth) {
    $addSize: $startSize - $minSize;
    $addWidth: $maxWidth - $minWidth;
    #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - #{$minWidth + px}) / #{$addWidth}));
}
//Шрифт
@font-face {
    font-family: 'SF UI Text';
    src: url("../fonts/SFUIText-Light.ttf");
    src: local("O"), url("../fonts/SFUIText-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
	font-family: 'SF UI Text';
	src: url("../fonts/SFUIText-Regular.ttf");
	src: local("O"), url("../fonts/SFUIText-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'SF UI Text';
	src: url("../fonts/SFUIText-Bold.ttf");
	src: local("O"), url("../fonts/SFUIText-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

// Файл обнуляющих стилей
@import "nullstyle.scss";

html {
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}

body{
    font-family: 'SF UI Text';
    font-style: normal;
    font-weight: 400;
    color: #FFF;
    display: flex;
    flex-direction: column;
    background-image: url(../img/1.png);
}

img{
    max-width: 100%;
    height: auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

//Section header start

.header {
    background: linear-gradient(88deg, #6120F0 5.99%, #572659 98.51%);
}

.header__list {
    display: flex;
    gap: 109px;
    padding-top: 80px;
    padding-bottom: 86px;
    padding-left: 386px;
    a {
        color: #FFF;
        font-family: SF UI Text;
        font-size: 27px;
        font-style: normal;
        font-weight: 400;
        line-height: 124.7%; /* 33.534px */
        text-transform: lowercase;
        @media (max-width: 1920px) {
            @include adaptive-value( font-size , 27 , 14 , 1920 , 320 );
        }
    }
    @media (max-width: 1920px) {
        @include adaptive-value( gap , 109 , 56 , 1920 , 320 );
        @include adaptive-value( padding-top , 80 , 25 , 1920 , 320 );
        @include adaptive-value( padding-bottom , 86 , 25 , 1920 , 320 );
        @include adaptive-value( padding-left , 386 , 35 , 1920 , 320 );
    }
}

.header__intro {
    display: flex;
    gap: 112px;
    padding-left: 386px;
    padding-right: 200px;
    padding-bottom: 106px;
    @media (max-width: 1920px) {
        @include adaptive-value( gap , 112 , 23 , 1920 , 320 );
        @include adaptive-value( padding-left , 386 , 35 , 1920 , 320 );
        @include adaptive-value( padding-bottom , 106 , 22 , 1920 , 320 );
        @include adaptive-value( padding-right , 200 , 27 , 1920 , 320 );
    }
}

.header__intro-title {
    color: #686BF4;
    font-family: SF UI Display;
    font-size: 98px;
    font-style: normal;
    font-weight: 400;
    line-height: 124.7%; /* 123.292px */
    @media (max-width: 1920px) {
        @include adaptive-value( font-size , 98 , 21 , 1920 , 320 );
    }
}
.header__intro-subtitle {
    color: #FFF;
    font-family: SF UI Display;
    font-size: 98px;
    font-style: normal;
    font-weight: 400;
    line-height: 124.7%; /* 123.292px */
    @media (max-width: 1920px) {
        @include adaptive-value( font-size , 98 , 21 , 1920 , 320 );
    }
}

//Section header end

//Section book start

//Section book end
.book {
    padding-top: 93px;
    padding-right: 150px;
    padding-bottom: 93px;
    padding-left: 150px;
    @media (max-width: 1920px) {
        @include adaptive-value( padding-top , 93 , 44 , 1920 , 320 );
        @include adaptive-value( padding-right , 150 , 34 , 1920 , 320 );
        @include adaptive-value( padding-bottom , 93 , 44 , 1920 , 320 );
        @include adaptive-value( padding-left , 150 , 34 , 1920 , 320 );
    }
}

.book__title {
    color: #000;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 124.7%; /* 44.892px */
    text-transform: lowercase;
    margin-bottom: 100px;
    @media (max-width: 1920px) {
        @include adaptive-value( margin-bottom , 80 , 40 , 1920 , 320 );
    }
}
.book__text {
    color: #000;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 124.7%; /* 44.892px */
    text-transform: lowercase;
    text-align: justify;
}
//Section footer start
.footer__column {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.footer__list-bottom {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 79px;
    flex-wrap: wrap;
    margin-left: 110px;
    margin-right: 110px;
    margin-bottom: 128px;
    @media (max-width: 1920px) {
        @include adaptive-value( margin-left , 110 , 15 , 1920 , 320 );
        @include adaptive-value( margin-right , 110 , 15 , 1920 , 320 );
        @include adaptive-value( gap ,79  , 16 ,1920  ,320  );
        @include adaptive-value( margin-bottom , 128 , 30 , 1920 , 320 );
    }
    @media (max-width: 700px) {
        flex-direction: column;
        align-items: center;
    }
    @media (max-width: 1000px) {
        flex-direction: column;
        align-items: center;
        li:nth-child(3) {
            display: none;
        }
        
    }
}

.footer__text {
    color: #000;
    font-size: 62px;
    line-height: 124.7%;
    font-weight: 300;
    @media (max-width: 1920px) {
        @include adaptive-value( font-size , 62 , 18 , 1920 , 320 );
    }
}
//Section footer end