@mixin adaptive-value($property, $startSize ,$minSize, $maxWidth, $minWidth) {
    $addSize: $startSize - $minSize;
    $addWidth: $maxWidth - $minWidth;
    #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - #{$minWidth + px}) / #{$addWidth}));
}
//Шрифт
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

// Файл обнуляющих стилей
@import "nullstyle.scss";

html {
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}

body{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    color: #FFF;
    display: flex;
    flex-direction: column;
}

img{
    max-width: 100%;
    height: auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

@media (max-width: 0px) {}

.title {
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 124.7%;
}

//Section listen start
.listen__column {
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    margin: 0px auto;
    background: linear-gradient(180deg, #060407 0%, #7C485D 18.75%, #B2989F 30.73%, #213549 54.17%, #6399AA 70.31%, #79337D 82.29%, #140A10 100%);
    background-repeat: no-repeat;
}

.listen__image {
    display: flex;
    justify-content: center;
    margin-top: 84px;
    margin-right: 117px;
    margin-left: 117px;
    @media (max-width: 1920px) {
        @include adaptive-value( margin-top , 84 , 10 , 1920 , 320 );
        @include adaptive-value( margin-right , 117 , 10 , 1920 , 320 );
        @include adaptive-value( margin-left , 117 , 10 , 1920 , 320 );
    }
    @media (max-width: 800px) {
        display: none;
    }
}

.listen__background-image {
    img {
        border-radius: 20px;
    }
}

.listen__cards {
    display: flex;
    flex-direction: column;
    gap: 142px;
    margin-bottom: 300px;
    @media (max-width: 1920px) {
        @include adaptive-value( margin-bottom , 300 , 30 , 1920 , 320 );
        @include adaptive-value( gap , 142 , 24 , 1920 , 320 );
    }
}

.listen__title{
    display: none;
    text-align: center;
    font-family: Basis Grotesque Pro;
    font-size: 23.944px;
    font-weight: 500;
    line-height: 124.7%; /* 29.858px */
    text-transform: uppercase;
    margin-top: 62px;
    margin-left: 30px;
    margin-right: 30px;
    @media (max-width: 800px) {
        display: block;
    }
} 

.listen__subtitle {
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    line-height: 124.7%; /* 39.904px */
    text-transform: uppercase;
}
//Section listen end

//Section footer start
.footer__column {
    display: flex;
    flex-direction: column;
}

.footer__list-top {
    display: flex;
    justify-content: center;
    gap: 106px;
    flex-wrap: wrap;
    margin-bottom: 147px;
    li:nth-child(2) {
        display: none;
    }
    li:nth-child(3) {
        display: none;
    }
    @media (max-width: 1920px) {
        @include adaptive-value( gap ,106  , 16 ,1920  ,320  );
        @include adaptive-value( margin-bottom , 147 , 30 , 1920 , 320 );
    }
    @media (max-width: 700px) {
        flex-direction: column;
        align-items: center;
    }
    @media (max-width: 1000px) {
        li:nth-child(1) {
            display: none;
        }
        li:nth-child(2) {
            display: block;
        }
        li:nth-child(3) {
            display: block;
        }
        li:nth-child(4) {
            display: none;
        }
        li:nth-child(5) {
            display: none;
        }
    }
}

.footer__list-bottom {
    display: flex;
    justify-content: space-between;
    gap: 106px;
    flex-wrap: wrap;
    margin-left: 110px;
    margin-right: 110px;
    margin-bottom: 147px;
    @media (max-width: 1920px) {
        @include adaptive-value( margin-left , 110 , 15 , 1920 , 320 );
        @include adaptive-value( margin-right , 110 , 15 , 1920 , 320 );
        @include adaptive-value( gap ,106  , 16 ,1920  ,320  );
        @include adaptive-value( margin-bottom , 147 , 30 , 1920 , 320 );
    }
    @media (max-width: 700px) {
        flex-direction: column;
        align-items: center;
    }
    @media (max-width: 1000px) {
        flex-direction: column;
        align-items: center;
        li:nth-child(3) {
            display: none;
        }
        
    }
}

.footer__link {
    color: #FFF;
    &:hover {
        color: rgba(224, 220, 220, 0.5);  
    }
    font-size: 32px;
    line-height: 124.7%;
}

.footer__text {
    color: #FFF;
    font-size: 32px;
    line-height: 124.7%;
}

.footer__line {
    width: auto;
    height: 1px;
    background: rgba(217, 217, 217, 0.70);
    margin-left: 110px;
    margin-right: 110px;
    margin-bottom: 147px;
    @media (max-width: 1920px) {
        @include adaptive-value( margin-left , 110 , 15 , 1920 , 320 );
        @include adaptive-value( margin-right , 110 , 15 , 1920 , 320 );
        @include adaptive-value( margin-bottom , 147 , 30 , 1920 , 320 );
    }
}
//Section footer end

//Cекция task start
.task__wrapper {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0px auto;
    margin-bottom: 80px;
    @media (max-width: 3000px) {
        max-width: 640px;
    }
    @media (max-width: 1199px) {
        max-width: 690px;
    }
    @media (max-width: 850px) {
        max-width: 320px;
    }
    
}

//Swiper слайдер start
.swiper {
    width: 100%;
    height: auto;
}

.task-slider__image {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border-radius: 20px;
    background: rgba(91, 130, 137, 0.5);
    
}


.task-slider__title {
    padding-bottom: 16px;
}

.task-slider__border {
    width: 100%;
    border: 1px solid #C7C8D0;
    margin-bottom: 16px;
}
.task-slider__text {
    text-align: justify;
}
.task-slider__link {
    p {
        font-size: 16px;
        color: #763D9E;
    }
}
//Swiper слайдер end

//Кнопки переключения start
.task__button::after {
    color: rgba(199, 185, 240, 0);
}

.swiper-button-prev {
    top: 50px;
    left: 20px;
    background-image: url(../img/svg/task-2.png);
    background-repeat: no-repeat;
}

.swiper-button-next {
    top: 400px;
    right: 10px;
    background-image: url(../img/svg/task-1.png);
    background-repeat: no-repeat;
    transform: rotate(180deg);
}
//Кнопки переключения end

//Cекция task end

//плеер 
.audio {
    display: flex;
    @media (max-width: 1199px) {
        flex-direction: column;
    }
    
}

.audioplayer-first, .audioplayer-second, .audioplayer-third, 
.audioplayer-fourth, .audioplayer-fifth, .audioplayer-sixth{
    width: 640px;
    position: relative;
    background: linear-gradient(180deg, #213549 9.90%, #6399AA 34.90%, #79337D 68.23%, #140A10 90.63%);
    @media (max-width: 1199px) {
        width: 320px;
    }
}

.audioplayer-first, .audioplayer-second, .audioplayer-third, 
.audioplayer-fourth, .audioplayer-fifth, .audioplayer-sixth i{
    cursor: pointer;
}

.top-bar, .progress-area .song-timer, 
.controls, .music-list .header, .music-list ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.song-details{
    text-align: center;
    margin: 30px 0;
}

.song-details .name{
    font-size: 21px;
    color: #ffffff;
}

.player {
    padding: 0px 30px;
    width: 260px;
    
}
  
.player__title {
    position: absolute;
    left: 35px;
    top: 214px;
    color: #6BD6D0;
    font-size: 22px;
    font-weight: 400;
    line-height: 124.7%; /* 27.434px */
    text-transform: lowercase;
}

.player__subtitle {
    position: absolute;
    left: 35px;
    top: 248px;
    color: #FFF;
    font-size: 22px;
    font-weight: 700;
    line-height: 124.7%; /* 27.434px */
    text-transform: uppercase;
}

.player__image {
    display: flex;
    justify-content: right;
    background: #000;
    border-radius: 0px 0px 80px 0px;
}
  
.player__image img {
    border-radius: 0px 0px 80px 0px;
}
  
.progress-area{
    height: 6px;
    width: 100%;
    border-radius: 50px;
    background: #f0f0f0;
    cursor: pointer;
}

.progress-area .progress-bar{
    height: inherit;
    width: 0%;
    position: relative;
    border-radius: inherit;
    background: #6BD6D0;;
}

.progress-bar::before{
    content: "";
    position: absolute;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    top: 50%;
    right: -5px;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-50%);
    background: inherit;
    transition: opacity 0.2s ease;
}

.progress-area:hover .progress-bar::before{
    opacity: 1;
    pointer-events: auto;
}

.progress-area .song-timer{
    margin-top: 2px;
}

.song-timer span{
    margin-top: 5px;
    font-size: 13px;
    color: #ffffff;
}

.controls{
    position: absolute;
    top: 342px;
    left: 35px;
}

.controls i{
    font-size: 28px;
    
}

.controls i:nth-child(2),
.controls i:nth-child(4){
    font-size: 43px;
}

.controls #prev{
    margin-right: -13px;
}

.controls #next{
    margin-left: -13px;
}

.controls .play-pause{
    height: 54px;
    width: 54px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #6BD6D0;;
}

.play-pause::before{
    position: absolute;
    content: "";
}
 
.play-pause i{
    height: 43px;
    width: 43px;
    line-height: 43px;
    text-align: center;
    color: #ffffff;
    position: absolute;
}
  
.music-list{
    margin-top: 20px;
    pointer-events: auto;
}
  
.header {
    display: none;
}
  
.header .row{
    display: flex;
    align-items: center;
    font-size: 19px;
    color: #ffffff;
}
.header .row i{
    cursor: default;
    
}
.header .row span{
    margin-left: 5px;
    
}
.header #close{
    font-size: 22px;
    color: var(--lightblack);
}

.music-list ul{
    margin-top: 30px;
}

.music-list ul::-webkit-scrollbar{
    width: 0px;
}

.music-list ul li{
    list-style: none;
    display: flex;
    cursor: pointer;
    margin-bottom: 40px;
    color: #ffffff;
    
}
  
.music-list ul li .row span{
    font-size: 17px;
}
.music-list ul li .row p{
    opacity: 0.9;
}

ul li .audio-duration{
    font-size: 16px;
}

ul li.playing{
    pointer-events: none;
    color: #6BD6D0;;
}
//плеер end