@mixin adaptive-value($property, $startSize ,$minSize, $maxWidth, $minWidth) {
    $addSize: $startSize - $minSize;
    $addWidth: $maxWidth - $minWidth;
    #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - #{$minWidth + px}) / #{$addWidth}));
}
//Шрифт
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

// Файл обнуляющих стилей
@import "nullstyle.scss";

html {
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}

body{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    color: #FFF;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
}


img{
    max-width: 100%;
    height: auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 90px;
    line-height: 124.7%;
    text-transform: uppercase;
    margin-bottom: 50px;
    @media (max-width: 1920px) {
        @include adaptive-value( font-size ,90,32 ,1920 ,320 );
    }
    @media (max-width: 1920px) {
        @include adaptive-value( margin-bottom , 50 , 30 , 1920 , 320 );
    }
}

.text {
    font-size: 53px;
    line-height: 124.7%;
    text-transform: uppercase;
    @media (max-width: 1920px) {
        @include adaptive-value( font-size , 53 , 16 ,1920  , 320 );
    }
}

@media (max-width: 0px) {}

//Section book start
.book__column {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 147px;
    max-width: 1920px;
    margin: 0px auto;
    background-image: url(../img/1.png);
    background-repeat: no-repeat;
    @media (max-width: 1920px) {
        @include adaptive-value( gap , 147 , 30 , 1920 , 320 );
    }
}
//Section book end

//Section crime start
.crime__column {
    display: flex;
    flex-direction: column;
    position: relative;
}
.crime__title {
    color: #7DF9FF;
    font-family: EB Garamond;
    font-size: 155px;
    font-weight: 500;
    line-height: 124.7%;
    text-transform: uppercase;
    @media (max-width: 1920px) {
        @include adaptive-value( font-size , 155 , 32 , 1920 , 320 );
    }
}
.crime__subtitle {
    font-family: PT Sans Narrow;
    font-size: 42px;
    line-height: 124.7%;
    margin-right: 15px;
    @media (max-width: 1920px) {
        @include adaptive-value( font-size , 42 , 16 , 1920 , 320 );
    }
}
.crime__text {
    position: absolute;
    top: 748px;
    left: 116px;
    max-width: 1024.59px;
    @media (max-width: 1920px) {
        @include adaptive-value(top , 748  , 50 , 1920 , 320 );
        @include adaptive-value( left , 116 , 15 , 1920 , 320 );
    }
    

}
//Section crime end

//Section read start
.read {
    padding-left: 228px;
    padding-right: 228px;
    @media (max-width: 1920px) {
        @include adaptive-value( padding-left ,228  ,15  ,1920  , 320 );
        @include adaptive-value( padding-right ,228  ,15  ,1920  , 320 );
    }
}
.read__title {
    h2 {
        color: #FFF;
        &:hover {
            color: rgba(224, 220, 220, 0.5);  
        }
    }
}
.read__subtitle {
    margin-bottom: 50px;
    @media (max-width: 1920px) {
        @include adaptive-value( margin-bottom , 50 , 30 , 1920 , 320 );
    }
}
//Section read end

//Section listen start
.listen {
    padding-left: 228px;
    padding-right: 228px;
    @media (max-width: 1920px) {
        @include adaptive-value( padding-left ,228  ,15  ,1920  , 320 );
        @include adaptive-value( padding-right ,228  ,15  ,1920  , 320 );
    }
}
.listen__title {
    h2 {
        color: #FFF;
        &:hover {
            color: rgba(224, 220, 220, 0.5);  
        }
    }
}
.listen__subtitle {
    margin-bottom: 50px;
    @media (max-width: 1920px) {
        @include adaptive-value( margin-bottom , 50 , 30 , 1920 , 320 );
    }
}
//Section listen end

//Section biography start
.biography {
    padding-left: 228px;
    padding-right: 228px;
    @media (max-width: 1920px) {
        @include adaptive-value( padding-left ,228  ,15  ,1920  , 320 );
        @include adaptive-value( padding-right ,228  ,15  ,1920  , 320 );
    }
}
.biography__title {
    h2 {
        color: #FFF;
        &:hover {
            color: rgba(224, 220, 220, 0.5);  
        }
    }
}
.biography__subtitle {
    margin-bottom: 50px;
    @media (max-width: 19200px) {
        @include adaptive-value( margin-bottom , 50 , 30 , 1920 , 320 );
    }
}
//Section biography end

//Form start
.form {
    padding-left: 228px;
    padding-right: 228px;
    @media (max-width: 1920px) {
        @include adaptive-value( padding-left ,228  ,15  ,1920  , 320 );
        @include adaptive-value( padding-right ,228  ,15  ,1920  , 320 );
    }
    margin: 0px auto;
}

.form * {
    outline: none;
}

.form__body {
    position: relative;
}

.form__body::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:url("../img/loading.gif") center / 50px no-repeat;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease 0s;
}

.form__body._sending::after {
    opacity: 1;
    visibility: visible;
}

.form__title {
    font-size: 32px;
    color: #7DF9FF;
    padding-bottom: 30px;
}
.form__item {
    margin-bottom: 20px;
}
.form__label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
}
.form__input {
    font-size: 18px;
    height: 50px;
    padding: 15px 20px;
    border-radius: 5px;
    width: 100%;
    transition: all 0.5s ease 0s;
}

.form__input:focus {
    box-shadow: 0 0 15px #7DF9FF;
}

.form__input._error {
    box-shadow: 0 0 15px #ff0000;
}

textarea.form__input {
    min-height: 120px;
    resize: vertical;
}
.checkbox {
    a {
        color: #7DF9FF;
    }
}

.checkbox._error .checkbox__label::before{
    box-shadow: 0 0 15px #ff0000;
}
.checkbox__input {
    display: none;
}

.checkbox__input:checked + .checkbox__label::after {
    transform: scale(1);
}

.checkbox__label {
    line-height: 140%;
    display: inline-flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.checkbox__label::before {
    content: "";
    align-self: flex-start;
    flex: 0 0 24px;
    height: 24px;
    background-color: #FFF;
    border-radius: 4px;
    margin: 0px 10px 0px 0px;

}

.checkbox__label::after {
    transition: transform 0.5s ease 0s;
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    top: 4px;
    left: 4px;
    background-color: #7c7c7c;
    border-radius: 4px;
    transform: scale(0);
}

.form__button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    background-color: #7DF9FF;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 ;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: background 0.5s ease 0s;
    &:hover {
        background: rgba(224, 220, 220, 0.5);  
    }
}
//Form end

//Section button start
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170px;
    border-radius: 87px;
    background: #7DF9FF;
    transition: background 0.5s ease 0s;
    &:hover {
        background: rgba(224, 220, 220, 0.5);  
    }
    margin-left: 116px;
    margin-right: 116px;
    @media (max-width: 1920px) {
        @include adaptive-value(margin-left  , 116 , 15 , 1920 , 320 );
        @include adaptive-value(margin-right  , 116 , 15 , 1920 , 320 );
        @include adaptive-value( height , 170 , 50 , 1920 , 320 );
    }
    p {
        color: #000;
        font-family: EB Garamond;
        font-size: 64px;
        font-weight: 800;
        line-height: 124.7%;
        text-transform: uppercase;
        @media (max-width: 1920px) {
            @include adaptive-value( font-size , 64 , 16 , 1920 , 320 );
        }
    }
}
//Section button end

//Section footer start
.footer__column {
    display: flex;
    flex-direction: column;
}

.footer__list-top {
    display: flex;
    justify-content: center;
    gap: 106px;
    flex-wrap: wrap;
    margin-bottom: 147px;
    @media (max-width: 1920px) {
        @include adaptive-value( gap ,106  , 16 ,1920  ,320  );
        @include adaptive-value( margin-bottom , 147 , 30 , 1920 , 320 );
    }
    @media (max-width: 700px) {
        flex-direction: column;
        align-items: center;
    }
}

.footer__list-bottom {
    display: flex;
    justify-content: space-between;
    gap: 106px;
    flex-wrap: wrap;
    margin-left: 110px;
    margin-right: 110px;
    margin-bottom: 147px;
    @media (max-width: 1920px) {
        @include adaptive-value( margin-left , 110 , 15 , 1920 , 320 );
        @include adaptive-value( margin-right , 110 , 15 , 1920 , 320 );
        @include adaptive-value( gap ,106  , 16 ,1920  ,320  );
        @include adaptive-value( margin-bottom , 147 , 30 , 1920 , 320 );
    }
    @media (max-width: 700px) {
        flex-direction: column;
        align-items: center;
    }
}

.footer__link {
    color: #FFF;
    &:hover {
        color: rgba(224, 220, 220, 0.5);  
    }
    font-family: PT Sans Narrow;
    font-size: 32px;
    line-height: 124.7%;
}

.footer__text {
    color: #FFF;
    font-family: PT Sans Narrow;
    font-size: 32px;
    line-height: 124.7%;
}

.footer__line {
    width: auto;
    height: 1px;
    background: rgba(217, 217, 217, 0.70);
    margin-left: 110px;
    margin-right: 110px;
    margin-bottom: 147px;
    @media (max-width: 1920px) {
        @include adaptive-value( margin-left , 110 , 15 , 1920 , 320 );
        @include adaptive-value( margin-right , 110 , 15 , 1920 , 320 );
        @include adaptive-value( margin-bottom , 147 , 30 , 1920 , 320 );
    }
}
//Section footer end